<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>

  <appSettings>
    
    <Devices>

      <device>
        <IP></IP>
        <User></User>
        <Pass></Pass>
        <Name></Name>
      </device>

    </Devices>

    <Settings>
      <setting>
        <file_name></file_name>
        <destination_path></destination_path>
        <log_path></log_path>
        <config_name></config_name>

        <smtp_server></smtp_server>
        <smtp_port></smtp_port>
        <sender_name></sender_name>
        <reciepant_name></reciepant_name>
      </setting>
    </Settings>
    
  </appSettings>
  
</configuration>
