<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>

  <!--MikroTik Backup Application Settings-->
  <appSettings>
    
<!--Devices section under backup files download-->
    
    <Devices>

<!--Single device under backup files donwload parameters-->
      <device>
        <!--MikroTik Device IP-->
        <IP></IP>
        <!--Username alloweed to download backup files-->
        <User></User>
        <!--User password allowed to download backup files-->
        <Pass></Pass>
        <!--Backup files names/Device Name/Device Identifier-->
        <Name></Name>
      </device>

    </Devices>

<!--MikroTik Backup Application Additional Backup Settings-->
    
    <Settings>
      <setting>
        <!--*.backup file name available in RouterOS file explorer-->
        <file_name></file_name>
        <!--Destination path for backup files-->
        <destination_path></destination_path>
        <!--Path for log file-->
        <log_path></log_path>
        <!--*.rsc file name available in RouterOS file explorer-->
        <config_name></config_name>
        <!--SMTP Server IP-->
        <smtp_server></smtp_server>
        <!--SMTP port-->
        <smtp_port></smtp_port>
        <!--E-mail Sender name-->
        <sender_name></sender_name>
        <!--Reciepants name. To add more than one separate with ','-->
        <reciepant_name></reciepant_name>
      </setting>
    </Settings>
    
  </appSettings>
  
</configuration>
