<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>

  <!--MikroTik Backup Application Settings-->
  <appSettings>
    
<!--Devices section under backup files download-->
    
    <Devices>

<!--Single device under backup files donwload parameters-->
      <device>
        <!--MikroTik Device IP-->
        <IP>1.1.1.2</IP>
        <!--Username alloweed to download backup files-->
        <User>mikrotik_user</User>
        <!--User password allowed to download backup files-->
        <Pass>password</Pass>
        <!--Backup files names/Device Name/Device Identifier-->
        <Name>MikroTik_Device</Name>
      </device>

    </Devices>

<!--MikroTik Backup Application Additional Backup Settings-->
    
    <Settings>
      <setting>
        <!--*.backup file name available in RouterOS file explorer-->
        <file_name>mikrotik.backup</file_name>
        <!--Destination path for backup files-->
        <destination_path>C:\Backups</destination_path>
        <!--Path for log file-->
        <log_path>C:\Logs</log_path>
        <!--*.rsc file name available in RouterOS file explorer-->
        <config_name>mikrotik.rsc</config_name>
        <!--SMTP Server IP-->
        <smtp_server>1.1.1.3</smtp_server>
        <!--SMTP port-->
        <smtp_port>25</smtp_port>
        <!--E-mail Sender name-->
        <sender_name>mikrotik@example.com</sender_name>
        <!--Reciepants name. To add more than one separate with ','-->
        <reciepant_name>recipient@example.com</reciepant_name>
      </setting>
    </Settings>
    
  </appSettings>
  
</configuration>
