<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
 
  <appSettings>

    <Devices>
      <device>
        <IP>10.27.15.222</IP>
        <User>admin</User>
        <Pass>Huhtamak1</Pass>
      </device>
      <device>
        <IP>10.27.15.225</IP>
        <User>admin</User>
        <Pass>Huhtamak1</Pass>
      </device>
    </Devices>
    
    
    <add key="file_name" value="today.backup" />
    <add key="destination_path" value="//plsie-dp/d$/mtbackup/test_backup/" />
    <add key="log_path" value="//plsie-dp/d$/mtbackup/test_backup/Log/"/>
    <add key="devices_number" value="31"/>

    <add key="smtp_server" value="10.27.1.222"/>
    <add key="smtp_port" value="587"/>
    <add key="sender_name" value="MikroTik-Backup@coveris.com"/>
    <add key="reciepant_name" value="Rigid.SIE.Notification@coveris.com"/>


    <add key="ips" value="10.27.30.236,10.27.30.235,10.27.30.232,10.27.30.231,10.27.30.229,10.27.30.226,10.27.30.222,10.27.30.221,10.27.30.223,10.27.30.220,10.27.30.215,10.27.30.214,10.27.30.213,10.27.30.212,10.27.30.211,10.27.30.210,10.27.30.208,10.27.30.207,10.27.30.206,10.27.30.205,10.27.30.204,10.27.30.203,10.27.30.201,10.27.30.200,10.27.30.199,10.27.30.196,10.27.30.195,10.27.30.194,10.27.29.246,10.27.30.216,10.27.30.217" />
    <add key="user" value="ftp"/>
    <add key="pass" value="gadery1234a,gadery12333,gadery674,gadery1235a,gadery12345,gadery1a345,gadery12ra,gadery1234hj,gadery12r4t,gadery1234hjk,gadery123ahjk,gadery12345ahjk,gadery3783ga0w432q3s1xw,gadery3783ga0w432q3s1x,gadery3783ga0w432q3s1,gadery3783ga0w432q3s,gadery3783ga0w432q3,gadery3782,gadery37823,gadery378231,gadery378231a,gadery378231a0,gadery37823ga0w,gadery3783ga0w,gadery37823ga0,gadery1234t,gadery3783ga0w4,gadery3783ga0w43,gadery3783ga0w432,bytreb132,bytreb1324"/>
    <add key="name" value="SIEM09_Portie.backup,SIEM_CCR.backup,SIEM01_ServerRoom.backup,SIEM02_ServerRoom.backup,SIEM03_DOK.backup,SIEM18_FSSC.backup,SIEM15_Secreatry_AP.backup,SIEM16_PS_AP.backup,SIEM14_PDE_cAP.backup,SIEM17_DTP.backup,SIEM06_DOK.backup,SIEM19_IT.backup,SIEM34_PS05_CRS125.backup,SIEM33_PS04_wAP.backup,SIEM32_PS03_wAP.backup,SIEM31_PS02_wAP.backup,SIEM30_PS01_wAP.backup,SIEM22_ServerRoom.backup,SIEM23_MDF01.backup,SIEM24_Fenix_AP.backup,SIEM25_PS_Szafa.backup,SIEM26_NPD.backup,SIEM28_PS.backup,SIEM20_ServerRoom.backup,SIEM27_Group_Controlling_AP.backup,SIEM12_IT_AP.backup,SIEM21_ServerRoom.backup,SIEM29_ServerRoom.backup,PLKATCAPsMAN01.backup,SIEM35_PS06_CRS226.backup,SIEM36_CRS226.backup"/>

  </appSettings>
  
</configuration>